# Módulo 1: Análisis de datos en el ecosistema Python

### 22/04/2023

## Análisis de la deuda pública de Madrid

La deuda pública de Madrid es uno de los temas económicos más importantes de la ciudad y su análisis es fundamental para entender su situación financiera. En este trabajo de análisis de datos en Python, se pretende examinar los datos históricos de la deuda pública de Madrid y encontrar patrones y tendencias que ayuden a comprender mejor la evolución de esta variable clave. 

El objetivo es analizar los datos con herramientas y técnicas estadísticas para obtener información relevante y valiosa sobre la deuda pública de Madrid.

Gracias a la **web de [Datos Abiertos del Ayuntamiento de Madrid](https://datos.madrid.es/portal/site/egob/menuitem.400a817358ce98c34e937436a8a409a0/?vgnextoid=eba412b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextchannel=eba412b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default)**, los datos de la deuda pública de Madrid están públicamente disponibles e incluyen **datos históricos registrados desde 2004 hasta la actualidad.** .

Vamos a utilizar **una muestra** que se ha preparado en base a estos datos que muestran la **deuda pública de Madrid** según diferentes variables.

In [11]:
# importamos las librerías necesarias 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [12]:
# Modificamos los parámetros de los gráficos en matplotlib
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 12, 6 # el primer dígito es el ancho y el segundo el alto
rcParams["font.weight"] = "bold"
rcParams["font.size"] = 10
rcParams["axes.labelweight"] = "bold"

In [13]:
# Cargar el dataset desde un archivo

df_accidentes = pd.read_csv("accidentes.csv", sep=";")

In [14]:
# Consultar los registros del DataFrame
df_accidentes

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,Unnamed: 19,Unnamed: 20
0,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 30 a 34 años,Mujer,NaN,NaN,"443359,226","4472082,272",N,NaN,NaN,NaN
1,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 45 a 49 años,Hombre,NaN,NaN,"443359,226","4472082,272",N,NaN,NaN,NaN
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 30 a 34 años,Hombre,NaN,NaN,"441155,351","4474129,588",S,NaN,NaN,NaN
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 35 a 39 años,Mujer,NaN,NaN,"441155,351","4474129,588",N,NaN,NaN,NaN
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3,RETIRO,Colisión fronto-lateral,NaN,Turismo,...,De 40 a 44 años,Hombre,NaN,NaN,"441155,351","4474129,588",N,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47048,2022S041289,29/12/2022,19:40:00,CALL. GENERAL RICARDOS / plaza de toros,174,11,CARABANCHEL,Alcance,Despejado,Turismo,...,De 50 a 54 años,Hombre,14.0,Sin asistencia sanitaria,"437453,757","4470784,586",N,NaN,NaN,NaN
47049,2022S041289,29/12/2022,19:40:00,CALL. GENERAL RICARDOS / plaza de toros,174,11,CARABANCHEL,Alcance,Despejado,Turismo,...,De 50 a 54 años,Mujer,7.0,Asistencia sanitaria sólo en el lugar del acci...,"437453,757","4470784,586",N,NaN,NaN,NaN
47050,2022S041312,12/12/2022,22:50:00,AVDA. ANDALUCIA / AVDA. PERLA,14,12,USERA,Colisión fronto-lateral,Lluvia débil,Turismo,...,De 21 a 24 años,Mujer,NaN,NaN,"441049,284","4469136,878",N,NaN,NaN,NaN
47051,2022S041312,12/12/2022,22:50:00,AVDA. ANDALUCIA / AVDA. PERLA,14,12,USERA,Colisión fronto-lateral,Lluvia débil,Turismo,...,De 35 a 39 años,Hombre,NaN,NaN,"441049,284","4469136,878",N,NaN,NaN,NaN
47052,2022S041312,12/12/2022,22:50:00,AVDA. ANDALUCIA / AVDA. PERLA,14,12,USERA,Colisión fronto-lateral,Lluvia débil,Turismo,...,De 21 a 24 años,Mujer,NaN,NaN,"441049,284","4469136,878",N,NaN,NaN,NaN

In [15]:
# Conteo de valores perdidos/faltantes  
df_deuda.isnull().sum()

NameError: name 'df_deuda' is not defined

In [ ]:
# La información útil sobre los datos guardados en formato DataFrame
df_deuda.info()

In [ ]:
# Consultar los valores nulos